* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}


/*----------------------------------------------------------------------*/

header{
    width: 100%;
    height: 70px;
    background: #ff03ff;
    background: linear-gradient(344deg, rgba(255, 3, 255, 1) 0%, rgba(46, 49, 97, 1) 49%);
}

.contentWraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.emblem{
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;

}

.logo{
    top: -70px;
    position: absolute;
    right: 140px;
    width: 150px;
    height: 150px;
}

.titleWrap{
    position: absolute;
    left: 120px;
    display: flex;
}

.chysto{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 30px;
}

.drive{
    color: rgb(117, 117, 243);
    font-weight: 900;
    font-size: 30px;
}

.rightSideHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.phoneWrap{
    display: flex;
    align-items: center;
    width: 210px;
}

.phoneImg{
    width: 30px;
    height: 30px;
}

.phoneNumber{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 25px;
}

.contact{
    width: 270px;
    height: 70px;
    background: #ff03ff;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


/*----------------------------------------------------------------------*/


section{
    width: 100%;
    min-height: 500px;
    background: url(./img/bg.png) center center/cover no-repeat;
}

.contactUsWraper{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.leftContent{
    display: flex;
    flex-direction: column;
    width: 50%;
}

h1{   
    color: rgb(70, 70, 248);
    font-weight: 700;
    font-size: 30px;
    margin-top: 50px;
}

.contactText{
    color: black;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

.contactButtonsBlock {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(344deg, rgba(255, 3, 255, 1) 0%, rgba(46, 49, 97, 1) 49%);
    height: 60px;
    width: 400px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    margin-top: 50px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.socialButtons{
    display: flex;
    flex-direction: column;
}

.socialButtons h3{
    color: rgb(70, 70, 248);
    font-weight: 700;
    font-size: 15px;
}

.socPic{
    width: 50px;
    height: 50px;
}

.contactButton:hover {
    background: #333;
}

/* Контейнер иконок */
.socialButtons {
    display: flex;
    justify-content: center;
    gap: 15px;

    overflow: hidden;
    max-height: 0;
    opacity: 0;

    transition: all 0.4s ease;
}

/* Когда активно */
.contactButtonsBlock.active .socialButtons {
    margin-top: 15px;
    max-height: 200px;
    opacity: 1;
}

/* Иконки */
.socialButtons img {
    transition: transform 0.3s;
}

.socialButtons img:hover {
    transform: scale(1.15);
}


.rightContent{
    width: 50%;
}

.workProces {
    width: 50%;
    position: absolute;
    right: 0;
    display: block;

    -webkit-mask-image: 
        linear-gradient(to right, transparent 0%, black 25%),
        linear-gradient(to top, transparent 0%, black 25%);

    -webkit-mask-composite: intersect;

    mask-image: 
        linear-gradient(to right, transparent 0%, black 25%),
        linear-gradient(to top, transparent 0%, black 25%);

    mask-composite: intersect;
}

/*----------------------------------------------------------------------*/
.cardSection{
    width: 80%;
    margin: 0 auto;
}

.cardWrapper{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    padding: 10px;
    width: 350px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: all 0.4s ease;
}

/* Картинка */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* Заголовок */
.card h3 {
    color: rgb(70, 70, 248);
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}

/* Полоска под заголовком */
.card h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #4A90E2;
    margin: 0 auto;
    border-radius: 2px;
    transition: width 0.3s ease;
}

/* При наведении полоска удлиняется */
.card:hover h3::after {
    width: 300px;
}

/* Блок который скрываем */
.card h4,
.card ul {
    padding: 0 20px;
    margin: 0;
}

.cardContent h4 {
    margin-top: 15px;
    font-weight: 500;
}

.cardContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0 20px; /* отступы */
}

.card.active .cardContent {
    max-height: 1000px; /* достаточно для всего контента */
}

.cardContent ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.cardContent ul li {
    margin-top: 10px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.cardContent ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;   /* ширина иконки */
    height: 20px;  /* высота иконки */
    background-image: url('img/arrow.png');
    background-size: contain; /* масштабировать под контейнер */
    background-repeat: no-repeat;
}

.card.active .cardContent ul li {
    opacity: 1;
    transform: translateY(0);
}

.card h4{
    font-size: 20px;
    font-weight: 600;
}


.divider {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.4),
      transparent
    );
  }
  
  .divider::before {
    margin-right: 20px;
  }
  
  .divider::after {
    margin-left: 20px;
  }

  .title{
    color: rgb(70, 70, 248);
    font-weight: 700;
    font-size: 30px;
  }

/*----------------------------------------------------------------------*/

.whyUs{
    width: 80%;
    margin: 0 auto;
}

.whyUsCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.whyUsCard{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whyUsCardIcon{
    width: 70px;
    height: 70px;
    transition: transform 0.5s ease;
}

.whyUsCardIcon:hover  {
    transform: scale(1.2); /* увеличение на 10% */
}

.whyUsCard h3 {
    color: rgb(70, 70, 248);
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

/*----------------------------------------------------------------------*/

.coments{
    position: relative;
}

.comentsInterier {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;

    -webkit-mask-image: 
        linear-gradient(to left, transparent 0%, black 26%),
        linear-gradient(to bottom, transparent 0%, black 60%);

    -webkit-mask-composite: intersect;

    mask-image: 
        linear-gradient(to left, transparent 0%, black 26%),
        linear-gradient(to bottom, transparent 0%, black 60%);

    mask-composite: intersect;
}

.comentsWrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 100px;
}

.comentsContent{
    position: relative;
    width: 700px;
    height: 500px;
}

.comentIcon1{
    position: absolute;
    top: 220px;
    left: 300px;
    border: 5px solid #fff;
    border-radius: 30px;
    width: 400px;
    height: 200px;
}

.comentIcon2{
    position: absolute;
    top: 10px;
    left: 100px;
    border-radius: 30px;
    width: 400px;
    height: 200px;
}

/*----------------------------------------------------------------------*/

footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background: #020024;
    background: linear-gradient(168deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footerWrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerWrap h2{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 23px;
    text-align: left;
}

.logoFooter{
    width: 150px;
    height: 150px;
}

.socialFooter{
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phoneWrapFooter{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
